h1{
    font-size: 70px;
    text-transform: uppercase;
    opacity: 100%;
    
}
header{
    background-color: lightgreen;
    width: 100%;
    margin: 0;
    padding: 0;

}
main{
    background-color:yellow;
    opacity: 90%;
width: 100%;

}
.img{
   
    size: 100px;
    margin: 40px;
    width: 500px;
    display: flex;
    text-transform: uppercase;
    

}
.discription{
    display: flex;
    text-transform: uppercase; 
    margin: 0;  
}
.p1{
    margin-left: 10%;
}
.p2{
    margin-left: 30%;
}
.p3{
    margin-right: 10%;
}
a{
    color: blue;
    font-size: 40px;
    text-decoration: none;
}

.img2{
    width: 500px;
    padding: 50px;
}
.img1{
    padding: 50px;
}
.img3{
    padding: 50px;
}