h1{
    font-size: 70px;
    text-transform: uppercase;
    opacity: 100%;
    
}
header{
    background-color: lightgreen;
    width: 100%;
    margin: 0;
    padding: 0;

}
main{
    background-color:yellow;
    opacity: 90%;
width: 100%;

}
.img{
    padding: 30px 40 px 50 px 40 px;
    size: 100px;
    margin: 40px;
    width: 500px;
}