.img{
    width: 100%;
    opacity: 100%;
}
.top{
    width: 50%;
    position: relative;
    opacity: 70%;
    
}

.e{
    color: orange;
    position: absolute;
    top: -46;
    left:40%;
    font-size: 32;
}
main{
    background-color: rgb(200, 230, 68);
}
.cola{
    font-size: 30px;
   text-decoration: none;
}
footer{
    background-color: darkslategrey;
    width: 100%;
    font-size: 50px;    
}
a{
    font-size: 25px;
    display: flex;
    padding: 30px 30px 15px 40px;
    text-decoration: none;
    color: black;
}

    

 .menu ul,
 .menu ol {
    list-style: none;
    display: flex;
    justify-content: center;
    
   
}
.menu  {
    display: block;
    background-color: lightgray;
padding: 15px 30px 15px 40px;
 text-decoration: none;
 text-transform: uppercase;
}

